body {
    background: white;
    font-family: "Roboto", sans-serif;
}

div {
    display: block;
    unicode-bidi: isolate;
}

weather {
    background: white;
    max-width: 500px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

form {
    display: block;
    margin-top: 0
}

div p {
    color: grey;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400px;
}

div p strong {
   color: red;
}

.temperature-value {
    font-size: 80px;
    font-weight: bold;
}
.icon {
    position: relative;
    top: -8px;
    font-size: 35px;
    margin-right: 10px;
}
.symbol {
    font-size: 28px;
    position: relative;
    top: -38px;
}

.current-weather {
    display: flex;
    justify-content: space-betweem;
}
.city {
    background-color: #f9f7fe;
    border: none;
    width: 60%;
    padding: 20px;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    border-radius: 7px;
}

  .search {
    background: deeppink;
    padding: 15px;
    border-radius: 4px;
    background: deeppink;
    margin-left: 5px;
    font-size: 12px;
    color: white;
    border: none;
}

footer {
    border-top: 1px solid white;
    text-align: center;
    padding-top: 15px;
    color: grey;
}
 